<div class='panel panel-primary'>
  <div class='panel-heading' style='font-size:large'>
    TODO Tasks Lists
  </div>

  <div class='panel-body'>
    <div class='row'>
      <div class="col-md-12">
        <label>Task title:
          <input type="text" [(ngModel)]="newTask.description" placeholder="Enter task title here" />
        </label>

        <label>Due date:
          <input type="date" [(ngModel)]="newTask.dueDate" />
        </label>

        <button type="submit" (click)="saveTask()"> Add </button>
      </div>
    </div>

    <div class='row' *ngIf="(allTasks&&allTasks.length);else falsyTemplate">
      <div class="col-md-4">Done Tasks:
        <ul *ngFor="let task of doneTasks">
          <li>
            {{task.description}} till {{task.dueDate.toLocaleString('he-IL')|date:'dd/MM/yyyy'}}
          </li>
        </ul>
      </div>

      <div class="col-md-4">Late Tasks:
        <ul *ngFor="let task of lateTasks">
          <li>
            {{task.description}} was late on {{task.dueDate.toLocaleString('he-IL')|date:'dd/MM/yyyy'}}
          </li>
        </ul>
      </div>

      <div class="col-md-4">On Time Tasks:
        
        <ul *ngFor="let task of ontimeTasks">
          <!-- <li [class.selected]="task === newTask" (click)="onSelect(task)"> -->
            <li class="scrollable" (click)="onSelect(task)">
                <!-- <button class="btn btn-lg btn-outline-primary" (click)="onSelect(task)">Launch demo modal</button> -->
            {{task.description}} until {{task.dueDate.toLocaleString('he-IL')|date:'dd/MM/yyyy'}}
          </li>
        </ul>
      </div>

    </div>

    <div class='panel-footer'>

      <ng-template #falsyTemplate>
        <h3>No Recordes were found!!</h3>
      </ng-template>

    </div>

  </div>
